ndl_tense/data_preparation/Results
ndl_tense/data_preparation/Data_shared
ndl_tense/Data_preparation_steps.txt
ndl_tense/machine_file.sh
ndl_tense/Modelling_steps.txt
ndl_tense/tense_aspect_pairs_BNC.txt
ndl_tense/data_preparation/Data_preparation_steps.txt
ndl_tense/data_preparation/ngram_prep_data/events_multi_temp.gz
ndl_tense/data_preparation/ngram_prep_data/events_one_temp.gz
ndl_tense/data_preparation/ngram_prep_data/multi_verbs
ndl_tense/data_preparation/ngram_prep_data/multi_verbs/events_4grams.gz
ndl_tense/data_preparation/ngram_prep_data/multi_verbs/ngrams_touse.csv
ndl_tense/data_preparation/ngram_prep_data/one_verb/1grams.csv
ndl_tense/data_preparation/ngram_prep_data/one_verb/1grams_touse.csv
ndl_tense/data_preparation/ngram_prep_data/one_verb/2grams.csv
ndl_tense/data_preparation/ngram_prep_data/one_verb/2grams_touse.csv
ndl_tense/data_preparation/ngram_prep_data/one_verb/3grams.csv
ndl_tense/data_preparation/ngram_prep_data/one_verb/3grams_touse.csv
ndl_tense/data_preparation/ngram_prep_data/one_verb/4grams.csv
ndl_tense/data_preparation/ngram_prep_data/one_verb/4grams_touse.csv
ndl_tense/data_preparation/ngram_prep_data/one_verb/ngrams_touse.csv
ndl_tense/data_analysis/model_results/to_ignore
ndl_tense/data_analysis/Results
ndl_tense/data_analysis/Plots.R
ndl_tense/data_analysis/Analyses.R

ndl_tense/data_analysis/model_results/Results_testset_ngrams_multiverbs.csv
ndl_tense/data_analysis/model_results/Results_all_testset_ngrams_multiverbs.csv

test_location/Data_shared
test_location/data_preparation
test_location/test
test_location/simulations
BNC.tagged.txt
BNC.spoken.clean.txt
BNC.tagged.null.txt
BNC.tagged.null.short.txt
BNC.tagged.null.txt
ndl_tense/simulations/NDL_ngram_oneverb
ndl_tense/simulations/NDL_ngram_multiverbs
to_do.txt
setup.cfg
setup.py
test_param.py
ndl_paramsearch.py
ndl_tense/test_location
ndl_tense/results_for_resubmition
colloquial_full_sen.txt
without_gon.csv
test_location/test/new_smaple_thing.csv
sample_q.txt
/dist
colloquial_full_sen.txt
MANIFEST
setup.py
setup.cfg
pyproject.toml
word_associates.py
random_things
tense_aspect_counts.py
train_with_order.py
test_param.py
